numpy==1.21.0
requests==2.25.1
streamlit==1.2.0
opencv-python-headless
pandas==1.2.0
matplotlib==3.4.2
seaborn==0.11.2
mediapipe==0.8.9.1
plotly==5.1.0
finnhub_python==2.4.7
Pillow==9.0.0
xlrd==1.0.0
